#webHelpDyslexia-box * {
  -webkit-box-sizing: border-box;
  background-color: #f2f1f0 !important;
  color: #000 !important;
  line-height: 20px !important;
}

button:focus {
  outline:0;
}

select:focus {
  outline:0;
}

ul {
    list-style-type: none;
}


#webHelpDyslexia-box {
  width:  100%;
  height: 42px !important;
  position: fixed;
  z-index: 999999999999;
  background-color: #f2f1f0 !important;
  text-align: left;
}

.webHelpDyslexia-bottom {
  bottom: 0;
  left: 0;
  border-top: 1px  solid #b7b7b7;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.body-webHelpDyslexia-bottom {
  margin-bottom: 32px !important;
}

.webHelpDyslexia-top {
  top: 0;
  left: 0;
  border-bottom: 1px solid #b7b7b7;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.body-webHelpDyslexia-top {
  margin-top: 32px !important;
}

#webHelpDyslexia-container {
  height: 28px !important;
  padding: 5px 15px;
  position: relative;
}

/*TODO: Verificar se pode tirar o alinhamento à esquerda dos outros elementos*/

.webHelpDyslexia-control-set {
  display: inline-block;
  padding: 0px 8px 0 3px;
  border-right: 1px solid #b7b7b7;
  margin: 0 !important;
  width: auto !important;
}

.webHelpDyslexia-left {
    float: left;
}

.webHelpDyslexia-button-right {
    float: right;
}

#webHelpDyslexia-close {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZDx40eSy+YwAAANlJREFUKM/F07FKA0EURuEvIoa8wULagJA0tumEQBpbwcbUW1oJQro0Fj7BdlZWQnwBwS4oCHkEm7QLaRIMyNpsIJndaUzhrYbhP5eZM3caRVH4ax05oI63izRN+7jCAxY12QRjPGVZNtuDcYkbXOA8aJDgDaf4wSw89gQf6JTBdg04L3OVOy8xDBqcBeAAeUxY2OA9BsZsLzHCGif4xnUIxuAEU7SwQhMvOw6icIJXdPGJXkRiBQ7BIb5qJLbr4NsAzCMS7ysThkdsygnLI69wh+ftZuPfPsYvxSc8Y/+cbKMAAAAASUVORK5CYII=") 50% 50% no-repeat !important; 
}

#webHelpDyslexia-close:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYCECwOhZJ9owAAAT5JREFUKM/Fk89KQkEUh79zbSMK0UB0wQfoKXoAUYgIzUBc+wBtgksX8T5AtCkQXBhB0EbhkrueoKcI2k4YGhk4p403zD8YteisZjHfb858Z0ZUld+Wxx9qI1k81csHadFy4MwJ8Lxkr98Qe5ESOtuXd/G3k9OiZaASefYKyM2DkWdbKaE0UWoLbQfO1CdKHyjOBWxGnm0BxYnSD9XUl915EKo5BuKZgN2m2Bug6JT7UE0JsKuEDQJnKmPlYRrwKEIBiM/UHAKjdbZHTTU1YAhkVRkFzuwD7z8ZlT9tOQsMRchEnu0BW+tgvyG2ncgJnMklEk/lpQeYVbDfENtOCXkgDtVUgddEYkZ0rym2A+wswNMHkAfiwJmjGauDwJkqEItQiDx7vgALXI+VbuBMBXhbMoXqWOl+KLdfzL99jE9dJoL/jVsFagAAAABJRU5ErkJggg==") 50% 50% no-repeat !important; 
}

#webHelpDyslexia-move-vertical {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAPCAYAAADHw76AAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcCDxQz4H9AtAAAAOFJREFUGNONkDFKQ1EQRe+deTwICYiN1d+B/Ae+FWQF9nEB1hZWNrGysnAXaayCC8gCrF6ZKrV1QuD9/2ds/i8UBA8M3Aszd+ACIznndc55PXm2bXsZQngUkScAMLOXvu9fQ4zx1t2X7m4AQHIZY9yHruveSX6q6gcADMNw7+4HKaWcROQ4ZYvIsZRyCuPWWVU3k8YvOM7/+XFBAEgpXanqw/jjrZTyJQCgqjOSK5IrVZ0BgKSU5ma2mCLMbJFSmmvTNHcknwFcA7gQkRtVPUutdevuO5JCUtx9V2vd4q92vwG8+lUChHsOTAAAAABJRU5ErkJggg==") 50% 50% no-repeat !important;
}

#webHelpDyslexia-reset {
  color: transparent !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

.webHelpDyslexia-select {
  height: 28px;
  width: 40px;
  float: left;
  font-size: 15px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid transparent;
  background: transparent;
}

.webHelpDyslexia-button {
    width:  32px;
    height: 32px;
    border: 1px solid transparent;
    margin: 0 0 0 3px !important;
    color: transparent !important;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    -webkit-appearance: none !important;
}

.webHelpDyslexia-button:hover {
  border: 1px solid #b7b7b7;
  border-radius:2px;
}

#webHelpDyslexia-select-font-size {
  color: transparent !important;
}

#webHelpDyslexia-line-spacing {
  color: transparent !important;
}

#webHelpDyslexia-select-letter-spacing{ 
  color: transparent !important;
}

#webHelpDyslexia-column-width {
  color: transparent !important;
}

#webHelpDyslexia-select-font-family {
  color: transparent !important;
}


.webHelpDyslexia-color {
  border: 1px solid transparent;
  margin: 0 0 0 5px;
  padding: 0 0 0 1px;
  float: left;
}

.webHelpDyslexia-color:hover {
  border: 1px solid #b7b7b7;
  border-radius:2px;
}

#webHelpDyslexia-set-font-color {
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #4a4a4a;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}


.webHelpDyslexia-select:hover {
  border: 1px solid #ccc;
  border-bottom: 1px solid #b7b7b7;
}

#webHelpDyslexia-set-backgorund-color {
  width:  30px;
  height: 30px;
  border-bottom: 4px solid #acacac;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}


/*Fixar o color picker*/
.sp-container.sp-light.sp-palette-only.sp-initial-disabled {
  position: fixed !important;
}

/*Leitor*/
#webHelpDyslexia-tail {
  position: absolute;
  float: left;
  height: 100%;
  width: 100%;
  z-index:1000;
}
#webHelpDyslexia-center {
  height: 100px;
  width: 100%;
}
#webHelpDyslexia-black{
  height: 1000px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index:1000;
}

#webHelpDyslexia-blackUper {
  position: absolute;
  float: left;
  background-color: black !important;
  opacity: 0.9;
  height: 2000px;
  width: 100%;
  z-index:10000000;
}

#webHelpDyslexia-blackBotton {
  position: absolute;
  float: left;
  background-color: black !important;
  opacity: 0.9;
  height: 2000px;
  width: 100%;
  z-index:10000000;
}

#webHelpDyslexia-colorir {
	background-color: green;
	opacity: 1;
}

#webHelpDyslexia-descolorir {
	background-color: transparent;
	opacity: 1;
}

#webHelpDyslexia-text1 {
	top : 20px;
	height: Auto;
	width: 100%;
	background: white !important;
	clear: both;
	float:top;
  position:fixed;
	z-index:99999999999999999;
  -webkit-transition:: all 0.5s ease;
}

#webHelpDyslexia-text {
	position: fixed;
	left: 25%; 
	top: 20%;
  max-width: 700px;
	background-color: #f2f1f0;
  color: #606060;
	z-index:10000000000;
	border-style: solid;
	font-size: 20px;
  line-height: 30px;
	padding: 10px 30px;
  border-width: 2px;
  border-color: #c0c0c0;
  border-radius: 5px;
}

#webHelpDyslexia-dicionario-titulo {
  font-size: 23px !important;
  color: #e74c3c;
  border-bottom: solid 1px #B6B6B6;
  margin: 5px 0 15px 5px !important;
}

#webHelpDyslexia-floatdiv {
	position:absolute;  
	width:200px;
	height:50px;
	top:10px;
	right:10px;  
	padding:16px;
	background: black;  
	border:2px solid #2266AA;  
	z-index:1000;
}
#webHelpDyslexia-ptext {
	color: black;
}

#webHelpDyslexia-select-reader-size {
  color: transparent !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}

#webHelpDyslexia-test-button{
  color: transparent !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}

#webHelpDyslexia-lighter-color {
  color: transparent !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}

#webHelpDyslexia-withoutlighter-button {
  color: transparent !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  -webkit-appearance: none !important;
}


#fechar-dicionario {
  display: block;
  position: absolute;
  line-height: 0;
  top: -15px;
  right: -15px;
  background: rgb(163, 163, 163);
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 40px;
  border-style: none;
  cursor: pointer;
}

#fechar-dicionario:hover{
  background: #f07a7a;
};